/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.intro {
  color: white;
  padding: 50px 0;
  background: #136c72;
}

.intro-content {
  width: 50%;
}

h1 {
  font-weight: 900;
  font-size: 1.6rem;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
}

.btn {
  background-color: #38cfd9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #23424a;
  border-radius: 50px;
  border: none;
  padding: 0.5em 2em;
  margin: 1em 0;
}
