/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

header {
  background-color: #136c72;
  padding: 1em 0;
}

.nav {
  width: 100%;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 1em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.nav__link--button {
  background-color: white;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.section-title {
  color: #136c72;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link--button:hover,
.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}

.sidebar {
  width: 32%;
  padding: 1em 2em;
  text-align: center;
  background-color: #136c72;
  color: white;
}
